@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


:root{
    --primary-font :"Lexend", sans-serif;
}

body {
    margin: 0;
    font-family: var(--primary-font);
    background-color: #f0f0f0;
}
#container {
    width: 100%;
    height: 100svh;
    position: relative;
    overflow: hidden;
}


/* NAVBAR */
nav{
    width: 100%;
    height: 3em;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    padding-left: 1.5em;
    background-color: #f0f0f0;
}

nav p{
    font-size: 1.1em;
    font-weight: 600;
}


/* FOOTER */
.footer{
    width: 100%;
    position: absolute;
    bottom: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
}